.directory-card {
  &-single {
    height: 300px;
    flex: 0 0 50%;
    overflow: hidden;
    position: relative;
    &:hover img {
      transform: scale(1.07);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      transition: 0.3s;
    }
  }
  &-content {
    position: absolute;
    right: 2rem;
    top: 30%;
    h4 {
      font-size: 2rem;
    }
  }
  a {
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #444;
    text-align: center;
  }
  .a:hover {
    border: 1px solid #a749ff !important;
    svg {
      color: #a749ff !important;
    }
  }
}
