.product-details {
  img {
    width: 100%;
  }
  &-price {
    small {
      color: crimson;
      font-weight: 500;
    }
    font-size: 24px;
  }
  &-content {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f1f1f1;
  }
  .details-size {
    button {
      background-color: #eee;
      border: none;
      width: 25px;
      &.active {
        background-color: tomato;
      }
    }
  }
}
