.comment {
  &-img {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &-inner {
    width: 90%;
    margin-left: 10%;
  }
}
.comment-item svg path {
  fill: rgb(231, 162, 13) !important;
}
