.sliders {
  height: 80vh;
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .slick-arrow.slick-prev {
    left: 5%;
  }
  .slick-arrow.slick-next {
    right: 5%;
  }
  .slick-slider svg {
    font-size: 1.5rem;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #a749ff;
    }
  }
  &:hover {
    .slick-slider svg {
      opacity: 1;
    }
  }
}
.slider {
  height: 80vh;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-content {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    // h2 {
    //   font-size: 4rem;
    // }
  }
}
